.theme-select {
  position: absolute;
  top: 285px;
  left: 50%;
  overflow: hidden;
  width: 652px;
  height: 157px;
  margin-left: -326px;
  transition: 0.5s 0.5s left, 0.5s 0.5s width, 0.5s 0.5s height, 0.5s box-shadow, 0.5s 0.5s margin-left;
  -webkit-animation: themeSelectFadeIn 0.4s 3.4s forwards;
  -moz-animation: themeSelectFadeIn 0.4s 3.4s forwards;
  animation: themeSelectFadeIn 0.4s 3.4s forwards;
  opacity: 0
}
@-webkit-keyframes themeSelectFadeIn{
  to {
    opacity: 1
  }
  
}
@-moz-keyframes themeSelectFadeIn{
  to {
    opacity: 1
  }
  
}
@keyframes themeSelectFadeIn{
  to {
    opacity: 1
  }
  
}
.theme-select_hovered_yes {
  z-index: 2;
  width: 726px;
  height: 194px;
  margin-left: -362px;
  transition-delay: 0, 0, 0, 0.5s, 0;
  transition-timing-function: cubic-bezier('0.23');
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)
}
.theme-select__item {
  position: absolute;
  z-index: 2;
  bottom: -20px;
  left: 50%;
  width: 60px;
  height: 60px;
  transition: opacity 0.4s, outline-color 0.3s, box-shadow .35s, -webkit-transform 0.5s, bottom 0.5s;
  transition-delay: 0.7s, 0.5s, 0, 0.5s, 0.5s;
  -webkit-transform: translateY(-29px);
  -moz-transform: translateY(-29px);
  transform: translateY(-29px);
  pointer-events: none;
  opacity: 0;
  outline: 1px solid rgba(255,255,255,0)
}
.theme-select__item:hover {
  outline: 1px solid white;
  -webkit-box-shadow: inset 0 0 3px white, inset 0 0 0 999px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 3px white, inset 0 0 0 999px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 3px white, inset 0 0 0 999px rgba(0,0,0,0.5)
}
.theme-select__item_index_1 {
  margin-left: -168px;
  background: url('theme-select__item_1.jpg')
}
.theme-select__item_index_2 {
  margin-left: -99px;
  background: url('theme-select__item_2.jpg')
}
.theme-select__item_index_3 {
  margin-left: -30px;
  background: url('theme-select__item_3.jpg')
}
.theme-select__item_index_4 {
  margin-left: 39px;
  background: url('theme-select__item_4.jpg')
}
.theme-select__item_index_5 {
  margin-left: 108px;
  background: url('theme-select__item_5.jpg')
}
.theme-select_hovered_yes .theme-select__item {
  bottom: 18px;
  transition: opacity 0.6s, outline-color 0.3s, box-shadow .25s, -webkit-transform 0.5s, bottom 0.5s;
  transition-timing-function: cubic-bezier('0.23, 1, 0.32, 1');
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  pointer-events: auto;
  opacity: 1
}
.theme-select_hovered_yes .theme-select__item_index_1 {
  transition-delay: 0.2s, 0.15s, 0.3s, 0.25s
}
.theme-select_hovered_yes .theme-select__item_index_2 {
  transition-delay: 0.3s, 0.15s, 0.3s, 0.25s
}
.theme-select_hovered_yes .theme-select__item_index_3 {
  transition-delay: 0.4s, 0.15s, 0.3s, 0.25s
}
.theme-select_hovered_yes .theme-select__item_index_4 {
  transition-delay: 0.5s, 0.15s, 0.3s, 0.25s
}
.theme-select_hovered_yes .theme-select__item_index_5 {
  transition-delay: 0.6s, 0.15s, 0.3s, 0.25s
}
.theme-select__wrap {
  width: 100%;
  height: 100%
}
.theme-select__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1.25s 0.4s
}
.theme-select_state_loaded .theme-select__bg {
  opacity: 0
}
.theme-select_state_loaded .theme-select__bg,.theme-select_theme_1 .theme-select__wrap {
  background-attachment: local;
  background-position: center top
}
.theme-select_theme_1 .theme-select__wrap {
  background-image: url('theme-select__bg_1.jpg')
}
.theme-select_state_loaded .theme-select__bg_1 {
  background-image: url('theme-select__bg_1.jpg')
}
.theme-select_state_loaded .theme-select__bg_2 {
  background-image: url('theme-select__bg_2.jpg')
}
.theme-select_state_loaded .theme-select__bg_3 {
  background-image: url('theme-select__bg_3.jpg')
}
.theme-select_state_loaded .theme-select__bg_4 {
  background-image: url('theme-select__bg_4.jpg')
}
.theme-select_state_loaded .theme-select__bg_5 {
  background-image: url('theme-select__bg_5.jpg')
}
.theme-select_theme_1 .theme-select__bg_index_1 {
  transition: opacity 0.65s 0.1s;
  opacity: 1
}
.theme-select_theme_2 .theme-select__bg_index_2 {
  transition: opacity 0.65s 0.1s;
  opacity: 1
}
.theme-select_theme_3 .theme-select__bg_index_3 {
  transition: opacity 0.65s 0.1s;
  opacity: 1
}
.theme-select_theme_4 .theme-select__bg_index_4 {
  transition: opacity 0.65s 0.1s;
  opacity: 1
}
.theme-select_theme_5 .theme-select__bg_index_5 {
  transition: opacity 0.65s 0.1s;
  opacity: 1
}
.theme-select_theme_1 .theme-select__item_index_1 {
  -webkit-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5)
}
.theme-select_theme_2 .theme-select__item_index_2 {
  -webkit-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5)
}
.theme-select_theme_3 .theme-select__item_index_3 {
  -webkit-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5)
}
.theme-select_theme_4 .theme-select__item_index_4 {
  -webkit-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5)
}
.theme-select_theme_5 .theme-select__item_index_5 {
  -webkit-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 white, inset 0 0 0 999px rgba(0,0,0,0.5)
}

