colortest {
  color: #779977;
  color: red;
  color: #FF4400;
  color: #020009;
  color: #020009
}
.test {
  text-align: center;
  font: 20px Arial, sans-serif;
  width: 150px;
  margin-top: -75px;
  margin-bottom: 4px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 3px 5px #fff;
  -moz-box-shadow: 1px 3px 5px #fff;
  box-shadow: 1px 3px 5px #fff
}
button {
  -webkit-border-radius: 1px 2px / 3px 4px;
  -moz-border-radius: 1px 2px / 3px 4px;
  border-radius: 1px 2px / 3px 4px
}
table tr:nth-child(1) {
  height: 10px
}
table tr:nth-child(2) {
  height: 20px
}
table tr:nth-child(3) {
  height: 30px
}
table tr:nth-child(4) {
  height: 40px
}
table tr:nth-child(5) {
  height: 50px
}
#foo,#bar,.baz {
  background: #000
}
form input[type=button] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}
#logo:hover {
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
}
#logo:hover {
  padding: 5px;
  /*such comment wow*/;
  margin: 5px
}
@media screen and (min-width: 600px){
  .widget {
    display: none
  }
}
@media screen and (min-width: 600px){
  .widget {
    display: none
  }
}
font-face {
  font-family: Geo;
  font-style: normal;
  src: url('fonts/geo_sans_light/GensansLight.ttf')
}
@-webkit-keyframes test {
  .test {
    text-align: center
  }
}
@-moz-keyframes test {
  .test {
    text-align: center
  }
}
@keyframes test {
  .test {
    text-align: center
  }
}
@-webkit-keyframes pulse {
  0 {
    opacity: 0
  }
  20% {
    opacity: 0.2
  }
  40% {
    opacity: 0.4
  }
  60% {
    opacity: 0.6
  }
  80% {
    opacity: 0.8
  }
  100% {
    opacity: 1
  }
}
@-moz-keyframes pulse {
  0 {
    opacity: 0
  }
  20% {
    opacity: 0.2
  }
  40% {
    opacity: 0.4
  }
  60% {
    opacity: 0.6
  }
  80% {
    opacity: 0.8
  }
  100% {
    opacity: 1
  }
}
@keyframes pulse {
  0 {
    opacity: 0
  }
  20% {
    opacity: 0.2
  }
  40% {
    opacity: 0.4
  }
  60% {
    opacity: 0.6
  }
  80% {
    opacity: 0.8
  }
  100% {
    opacity: 1
  }
}
#back-to-top {
  position: fixed;
  bottom: 0;
  right: 0
}
#back-to-top {
  text-align: center;
  position: relative;
  top: 0;
  left: 0
}
#back-to-top {
  position: absolute;
  bottom: 5px;
  right: 10px
}
.news__item {
  zoom: 1
}
.news__item:before,
.news__item:after {
  content: ' ';
  display: table
}
.news__item:after {
  clear: both
}

